@import url('https://fonts.googleapis.com/css2?family=Anta&family=Press+Start+2P&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-size: 1.2rem;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(2, 2, 27);
}

/* Área de jogo */
#PlayArea{
    aspect-ratio: 0.71/1;
    max-width: 700px;
    /* max-height: 800px;  */
    padding: 50px 0px;
    background-color: #D7D0D5;
    height: 90%;
    border-radius: 10px 10px 120px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    box-shadow: inset -3px -3px 8px 2px rgba(0, 0, 0, 0.500) ,
    12px 12px 10px 2px rgba(0, 0, 0, 0.500)
    ;
}
#detail{
    width: 90% ;
    height: 400px;
    aspect-ratio: 2/1;
    z-index: 2;
    background-color: #767388;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.500);
    position: relative;
    flex: 1;
}
#onlight{
    height: 10px;
    width: 10px;
    position: absolute;
    right: 40px;
    background-color: greenyellow;
    box-shadow: 0 0 5px 6px greenyellow , inset 1px 1px 4px 0 rgba(255, 255, 255, 0.300);
    top: 50px;
    border-radius: 100%;
}
#visorArea{
    aspect-ratio: 1.11/1;
    border-radius: 3px;
    box-shadow: inset 5px 5px 15px 0 #464926;
   height: 90%;
   
   display: flex;
   background-color: #9B9E4D; 
   flex-direction: row;
}
.visor{
    display: flex;
}
#buttonsArea{
    display: flex;
    gap: 10px;
}
li button{
    padding: 10px;
}

/* bottom */
#bottom{
    display: flex;
    width: 90%;
    height: 300px;
    flex: 1;
}
#scoreArea{
    flex: 1;
}
#buttonsArea{
    flex: 1;
    
}
/* buttons */

#buttonsArea button{
    height: 70px;
    width: 70px;
    border-radius:100%;
    background-color: #B2346B;
    border: 1px solid rgba(0, 0, 0, 0.325);
    border:none;
    box-shadow: 2px 2px 5px 0.5px rgba(0, 0, 0, 0.500) , inset -1px -1px 4px .25px rgba(0, 0, 0, 0.500) , inset 1px 1px 4px .25px rgba(255, 255, 255, 0.300);
    cursor: pointer;
    
}
#buttonsArea button:hover {
    box-shadow: inset 2px 2px 4px 2px rgba(0, 0, 0, 0.500) ;
}

#buttonsArea .button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.button p{
    font-family: "Anta", sans-serif;
}
/* score area */
#scoreArea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
#score{
    background-color: #9B9E4D;
    box-shadow: inset 5px 5px 15px 0 #464926;
    border-radius: 2px;
    height: 30%;
    width: 40%;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#scoreArea p{
    font-size: 2rem;
    font-family: "Anta", sans-serif;
    font-size: 1.5rem;
}
hr{
    width: 60%;
    margin: 5px;
    border: 1px solid black;
}